@import url('https://matiaslescano.com.ar/static/fonts/pixelicious.css');
*{
  box-sizing: border-box;
}

body
{
  background-color:#0A0A0A;
  font-family: verdana, white;
}

#titleContainer
{
  margin-top: 1%;
  overflow: auto;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 25px;
  text-align: center;
  width:;
  /* border-bottom: 2px white solid; */
}


.centre
{
    display: block;
    margin: auto;
}

#spaceImg{
    -webkit-animation: sway 7s ease-in-out infinite;
    animation: sway 7s ease-in-out infinite;
}

onchange{
  visibility:visible;
}

#characterCreator
{
    font-size: 1.2vw;
    overflow: hidden;
    /*background-color: #0f180e;*/
    background-color: #111010;
    width: 50%;

    text-align: left;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: 0 0 10px 2px red;
    font-family: 'Rajdhani', sans-serif;
    padding: 1%;
    /* margin: auto; */
    float: left;
    top: 1%;
    margin-top: 1%;
    color: #2AAA50;
    font-size: 2.7vw;
}

#overview{
  width: 30%;
  float: left;
  background-color: #001010;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0 0 10px 2px #4edaf9;
  margin-left: 10%;
  top: 1%;
  margin-top: 1%;
  font-weight: bolder;
  font-family: 'Rajdhani', sans-serif;
  color: #4edaf9;

}

#playerProfile{
  /* border: 1px solid white; */
  display: block;
  overflow: hidden;
  margin: auto;
  width: auto;
  padding-left: 3%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 1%;
margin-bottom: 3%;
    }

#playerCharStat{
  float:left;
  width:40%;
}

#playerInfoStat{
  width:60%;
  float: left;
  font-size: 1.2vw;
  padding-left: 3%;
}

#playerNameStat{
  position: relative;
  left:3%;
  margin:0;
  text-align:left;
}

#playerBonusesStat{
  position: relative;
  left:3%;
  margin:0;
  text-align:left;
}

.yellowText{
  color: gold;
}

.redText{
  color: red;
}

#playerClassStat{
  position: relative;
  left:3%;
  margin:0;
  text-align:left;
}
#title{
  text-align: center;
  font-size: 3vw;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background: repeating-linear-gradient(
      45deg,
      #1B1A1A,
      #1B1A1A 10px,
      #0F0F0F 10px,
      #0F0F0F 20px
      );
      margin-bottom: 3%;
}
.input{
  font-size: 1.4vw;
  background: repeating-linear-gradient(
    180deg,
    #082316,
    #082316 10px,
    #05170E 10px,
    #05170E 20px
    );
    border-radius: 10px;
    border: 0px solid;
    color: #27910E;
    font-family: 'Orbitron', sans-serif;
    padding: 1%;
    outline: none;
}

#description{
  font-size: 1.5vw;
  /* float:left; */
  margin:auto;
  overflow:hidden;
  background: repeating-linear-gradient(
    180deg,
    #082316,
    #082316 10px,
    #05170E 10px,
    #05170E 20px
    );
  border-radius: 10px;
  border: 0px solid;
  color: white;
  font-family: 'Orbitron', sans-serif;
  padding: 1%;
  margin-top: 2%;
  width: 70%;
  height: 25%;
}

#overViewCard{
  width: 100%;


}

#characterClass
{

}

#spaceImg:hover{
  -webkit-animation: swayCrazy 3s ease-in-out infinite;
  animation: swayCrazy 3s ease-in-out infinite;
}

#row{
  float: :left;
  overflow: hidden;
  width:100%;
  display: inline-block;
  padding-top: 3%;
  padding-bottom: 3%;
}

#buttonDiv
{
  float: left;
  overflow: auto;
  width: 35%;
  padding-left: 10%;
  padding-top: 20%;
  padding-bottom: 3%;
}


#characterCreator:hover{
  box-shadow: 0 0 10px 2px #4edaf9;
}

#button:hover{
  box-shadow: 0 0 10px 2px #4edaf9;

}

#wrapper
{
    width: 95%;
    padding: 2%;
    display: block;
    padding-left: 7%;
}

#button
{
  /* background-color: #383938;
  font-family: 'Orbitron', sans-serif;
  border-radius: 10px;
  color: #27910E;
  border-color: black;
  float: right;
  font-size: 50px; */
  width: 90%;
  height: 50px;
  border-radius: 25px;
  font-size: 1.6vw;
  border: 2px solid black;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  outline: none;
  color: #27910E;
      background: repeating-linear-gradient(
        180deg,
        #082316,
        #082316 10px,
        #05170E 10px,
        #05170E 20px
        );
        margin-bottom: 3%;r
}

#button:hover{
  cursor:pointer;
}
#textDisplay{
  /*font-size: 0.5em;*/
  background: repeating-linear-gradient(
    180deg,
    #082316,
    #082316 10px,
    #05170E 10px,
    #05170E 20px
    );
    border-radius: 10px;
    border: 0px solid;
    color: white;
    font-family: 'Orbitron', sans-serif;
    padding: 5px;
    width: 400px;
    height: 200px;
    color: #27910E;
}

@keyframes sway{
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-20px, -20px) rotate(4deg);
            transform: translate(-20px, -20px) rotate(4deg);
  }
}
@-webkit-keyframes sway {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-20px, -20px) rotate(4deg);
            transform: translate(-20px, -20px) rotate(4deg);
  }
}

@keyframes swayCrazy{
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-20px, -20px) rotate(360deg);
            transform: translate(-20px, -20px) rotate(360deg);
  }
}
@-webkit-keyframes swayCrazy {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-20px, -20px) rotate(360deg);
            transform: translate(-20px, -20px) rotate(360deg);
  }
}
