
#combatMain{
  margin: 5%;
}

#turnOptions{
  border: 2px dotted red;
  border-radius: 10px;
  padding: 0 5% 2%;
  overflow: auto;
  font-size: 0.8vw;
}

#turnOverview{
  border: 2px dotted blue;
  border-radius: 10px;
  padding: 0 5% 2%;
}

<<<<<<< HEAD
.combatButton{
  border: 2px solid black;
  outline: none;
  color: #27910E;
      background: repeating-linear-gradient(
        180deg,
        #082316,
        #082316 10px,
        #05170E 10px,
        #05170E 20px
        );
}
=======
>>>>>>> 6418ab30c95fe597961e019b06c79b3be2d3d7ca

.hideMe{
  display: none;
  visibility: hidden;
}


#EnemyHealthbar{
  border: black 3px solid;
  border-radius: 25px;
  height:23px;
  background-color: #841111;
  width: 90%;
  margin: 5%;
}

#EnemyHB{
  height:100%;
  width:100%;
  /* background-color:#27910E; */
  background: repeating-linear-gradient(
    45deg,
    #27910E,
    #27910E 10px,
    #144F05 10px,
    #144F05 20px
    );
    border-radius: 25px;
}
