/* Combat System */

#combat-wrapper{
  margin-top: 20px;
  display: none;
}


#player1{
  float: left;
  width:30%;
  height: 200px;
  border: 1px solid white;
  overflow: hidden;
}

#round-timer{
  margin: 0% 5%;
  width:30%;
  float: left;
//  border: 1px solid white;
  text-align: center;
}

#countdownTimer{
  font-size: 4em;
  font-family: fantasy;
}

#player2{
  float:right;
  width:30%;
  height: 200px;
  border: 1px solid white;
  overflow: hidden;
}

.playerImg{
  width: 35%;
  height: 95%;
  margin: 1%;
  display: inline-block;
  float: left;
}



.playerbox-info{
  float: right;
//  border: 1px solid white;
  height: 95%;
  margin: 1%;
  width: 60%;
}

.healthbar{
  width: 95%;
  margin: 2%;
  height: 15%;
  border: 1px solid white;
  background-color: green;
}

.playerbox-info .player-name{
  margin: 2%;
  font-family: monospace;
  float: left;
}

.playerbox-info .player-health{
  margin: 2%;
  font-family: monospace;
  float: right;
}

#healthLost{
  font-family: monospace;
  margin: 20px;
  clear: both;
  float: left;
  display:inline-block;
  color: red;
}

#damageGiven{
  font-family: monospace;
  margin: 20px;
  float: right;
  color: green;
}

#combatBox{
  //display: none;
  clear: both;
  width: 30%;
  margin: auto;
  overflow: hidden;
}

#combat-main{
  clear: both;
  height: 250px;
  border: 1px solid white;
  margin-left: 5%;
  margin-right: 5%;
}

#combat-inventory{
  margin-top: 20px;
  clear: both;
  border: 1px solid white;
  margin-left: 5%;
  margin-right: 5%;
}

.combatHeader{
  margin: 0;
  padding: 10px;
  background-color: grey;
  width: 100%;
  text-align: center;
  font-family: monospace;
}

#combat-inventory table{
  width: 90%;
  margin: 1% 5%;
}

#combat-inventory td{
  width: 20%;
  margin-right: 20px;
  height: 120px;
  border: 1px solid white;
}

.inventoryItem{
  width: 90%;
  height: 90%;
  display: inline-block;
  opacity: 0.2;
  margin: 5%;
}

.combatButton{
  width: 25%;
  height: 25%;
  margin: 1%;
  color: black;
}

#weaponText{
  margin: 0px;
  padding: 4%;
}

.weaponPlaceholder{
  float:left;
  width: 25%;
  height: 45%;
  margin-left: 5%;
  opacity: 0.2;
  border: 1px solid white;
  padding: 1%;
}

#overviewBox{
  display: none;
  clear: both;
  width: 25%;
  margin: auto;
  overflow: hidden;
  //border: 1px solid white;
  justify-content: center;
  text-align: center;
}

#overviewBox button{
  width: 40%;
  height: 80px;
  border-radius: 10%;
  background-color: red;
  border: 1px solid grey;
}

#overview-container{
  width: 95%;
  margin-top: 15px;
  margin: 2.5% 5px 0px 2.5%;
  border: 1px solid white;

}
