#wrapper
{
  width: 95%;
  height: 70%;
  padding: 3%;
  padding-top: 1%;
  margin: auto;
  /* border: 2px solid #2b2828; */
  /* background-color: #171717; */
}

#container
{
  overflow: auto;
  width: 100%;
  padding: 0.5%;
  height:100%;
}


#playerInventory{
  width: 100%;
  margin: auto;
  display: block;
  float: left;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bolder;
  border-radius: 25px;
  margin: 0 auto;
  /* transform: skewY(3deg); */
}

#playerInventory td{
  width: 200px;
  height: 100px;
  border: 1px solid black;
  /* background: repeating-linear-gradient(
    135deg,
    black,
    black 10px,
    #2F2F2F 10px,
    #2F2F2F 20px
    ); */
    background-color: #272727;
  position: relative;
  border-radius: 5px;
}

#pauseContainer{
  position: fixed;
  width: 30%;
  height: 300px;
  top: 35%;
  left: 50%;
  margin-top: -150px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  text-align: center;
  color: red;
  font-weight: bold;
}
.clickableImage
{
  cursor: pointer;
}
#pausebtn{
  width: 20%;
  background: url(images/Play Button.gif);
}

#startingContainer{
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 2%;
  color: white;
  background: black;
  text-align: left;
  font-size: 2.7vw;
  font-family: 'Rajdhani', sans-serif;
}

#starterText
{

}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

#userInput
{
    width: 33%;
    float: left;
    max-width: 80%;
    height: 80%;
    padding: 8px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: 0 0 10px 2px #4edaf9;
    background-color: #111010;
}

#easyButtons
{
  width: 97%;
  display: block;
  margin: auto;
  text-align: center;
  overflow: hidden;
  border-radius: 25px;
}

#left
{
  display: block;
  overflow: hidden;
  width: 31%;
  height: 33%;
  float: left;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 1%;
  padding-right: 1%;
}

#imageLeft
{
  display: block;
  overflow: hidden;
  width: 33%;
  height: 33%;
  float: left;
  margin: auto;
}

.buttonsContainer
{
  display: block;
  overflow: hidden;
  margin: auto;
  text-align: center;
  width: 100%;
}

.compassButtons
{
  width: 100%;
  height: 50px;
  border-radius: 25px;
  /* border-bottom-left-radius: 25px;
  /*border-bottom-right-radius: 25px;*/
  /*border-top-right-radius: 25px; */
  font-size: 1.2vw;
  /* font-size: 1.5em; */
   color: #2EA6BF;
  /*font-family: 'Rajdhani', sans-serif; */
  /* color: #27910E; */
  font-family: 'Orbitron', sans-serif;
  border: 2px solid black;
  /* font-weight: bolder; */
  cursor: pointer;
  outline: none;
  background: repeating-linear-gradient(
    180deg,
    #041114,
    #041114 10px,
    #09252B 10px,
    #09252B 20px
    );
    /* background: repeating-linear-gradient(
      180deg,
      #082316,
      #082316 10px,
      #05170E 10px,
      #05170E 20px
      );
      padding: 1%; */
}

#eastButton
{
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

#westButton
{
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
}

.utilityButtons
{
  width: 90%;
  height: 50px;
  border-radius: 25px;
  font-size: 1.3vw;
  /* color: #C14CD6; */
  font-family: 'Rajdhani', sans-serif;
  border: 2px solid black;
  font-weight: bolder;
  cursor: pointer;
  outline: none;
  color: #2EA6BF;
  /* background: repeating-linear-gradient(
    180deg,
    #25082A,
    #25082A 10px,
    #44174C 10px,
    #44174C 20px
    ); */
    background: repeating-linear-gradient(
      180deg,
      #041114,
      #041114 10px,
      #09252B 10px,
      #09252B 20px
      );
}

.mapButtons
{
  width: 90%;
  height: 35px;
  border-radius: 25px;
  font-size: 1.1vw;
  /* color: #C14CD6; */
  font-family: 'Rajdhani', sans-serif;
  border: 2px solid black;
  font-weight: bolder;
  cursor: pointer;
  outline: none;
  color: #8B2BE4;
  /* background: repeating-linear-gradient(
    180deg,
    #25082A,
    #25082A 10px,
    #44174C 10px,
    #44174C 20px
    ); */
    background: repeating-linear-gradient(
      135deg,
      #110120,
      #110120 20px,
      #20013D 20px,
      #20013D 40px
      );
}


#compass
{
  width: 60%;
  text-align: center;
  overflow: hidden;
  float: left;
  margin: auto;
}

#compassRow
{
  width: 100%;
  float: left;
  text-align: center;
}

#quickButtons
{
  width: 40%;
  text-align: center;
  overflow: hidden;
  float: left;
  padding: 5%;
}

#playerContainer{
  overflow:auto;
  width:31%;
  float:left;
  height:760px;
  background-color: #111010;
  /* background: #0A1C24; */
  /* background: repeating-linear-gradient(
    45deg,
    #031A1F,
    #031A1F 500px,
    #010E11 500px,
    #010E11 1000px
    ); */
  border: 2px solid black;
  margin-right:2%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0px 0px 10px 2px #7C0000;
  /* #4edaf9 */
  display: block;
}

#mapContainer{
  overflow:hidden;
  width:32%;
  float:left;
  height:750px;
  /* background-color: #0A1C24; */
  /* background: repeating-linear-gradient(
    45deg,
    #041114,
    #041114 30px,
    #09252B 30px,
    #09252B 60px
    ); */
    background-color: #111010;
  border: 2px solid black;
  margin-left: 2%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0px 0px 10px 2px #8B2BE4;
  display: block;
  /* margin-top: 2%;  */
  float:left;
  font-weight: bolder;
  font-family: 'Rajdhani', sans-serif;
  color: #4edaf9;
}

#statsContainer{
  overflow: hidden;
  /* margin-top: 2%;  */
  width: 100%;
  float:left;
  font-weight: bolder;
  font-family: 'Rajdhani', sans-serif;
  color: #4edaf9;
}

#rightBlockContainer{
  overflow: hidden;
  /* margin-top: 2%;  */
  height: 750px;
  width: 100%;
  float:left;
  font-weight: bolder;
  font-family: 'Rajdhani', sans-serif;
  color: #4edaf9;
}

#currentRoomDisplay{
  /* border-bottom:2px solid #4edaf9; */
  font-size: 1.7em;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 1%;
}

#mapHeader{
  margin:auto;
  margin-bottom: 5%;
  width: 100%;
  overflow:auto;
  clear: both;
  /*border: 1px solid white;*/
  /* padding:0.2%; */
  text-align: center;
  font-size: 1.1vw;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background: repeating-linear-gradient(
    45deg,
    #1B1A1A,
    #1B1A1A 10px,
    #0F0F0F 10px,
    #0F0F0F 20px
    );
    /* border-bottom:2px solid darkgrey; */
}

#objectives{
  padding:10px;
  clear: both;
  height:19%;
  margin:auto;
  overflow:auto;
}

#mapMain{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#hints{
  clear: both;
  overflow:auto;
  text-align: center;
  height: 56%;
}

#map
{
  clear: both;
  margin:auto;
  overflow:auto;
  height: auto;
  text-align: center;
  margin-bottom: 5%;
  border-radius: 25px;
  margin: 3%;
  background: repeating-linear-gradient(
    45deg,
    #041114,
    #041114 5px,
    #082025 5px,
    #082025 10px
    );
}

#timerStat{
  overflow: auto;
  padding:1%;
  margin:auto;
  /* border: 2px solid white; */
  /* background-color: black; */


}

#timer{
  font-family:Orbitron;
  letter-spacing:5px
  font-weight:bold;
  font-size:0.9vw;

}

#buttonStat{
  overflow: auto;
  /* border: 1px solid grey;
  background-color: #261f1f; */
  margin: auto;
  margin-left: 1%;
  padding: 2%;
}

#ShowMap{
  width:49%;
}

#ShowHints{
  width:49%;

}

#ShowStats{
  width:33%;

}

#objectivesStat{
  margin-top: 2%;
  padding: 10px;
  border-radius: 25px;
  /* background: repeating-linear-gradient(
      45deg,
      #1B1A1A,
      #1B1A1A 10px,
      #0F0F0F 10px,
      #0F0F0F 20px
      ); */
}

#playerProfile{
  /* border: 1px solid white; */
  display: block;
  overflow: hidden;
  margin: auto;
  width: auto;
  padding-left: 1%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: repeating-linear-gradient(
      45deg,
      #1B1A1A,
      #1B1A1A 10px,
      #0F0F0F 10px,
      #0F0F0F 20px
      );
    }

#playerCharStat{
  float:left;
  width:20%;
}

#playerStatusContainer
{
  margin-top: 3%;
  width: 100%;
  display: block;
}

#playerInfoStat{
  width:70%;
  float: left;
  font-size: 1.2vw;
}

#playerNameStat{
  position: relative;
  left:3%;
  margin:0;
  text-align:left;
}

#playerClassStat{
  position: relative;
  left:3%;
  margin:0;
  text-align:left;
}

#weaponFunctions
{
  width: 60%;
  margin: auto;
  float:left ;
  text-align:center;
  padding-left: 12%;
}

#weaponButtons
{
  width: 28%;
  margin: auto;
  float:left ;
  text-align:center;
}

#playerStatus{
  width:60%;
  float:left;
}

.curvedRadius
{
  border-radius: 10px;
}

#equippedWeaponImage
{
  width:4%;
  margin: auto;
}
#playerWeaponStatus
{
  margin:auto;
  font-size: 1.1vw;
  text-align: center;
  display: block;
  color: #C71A1A;
}
#currentWeaponMag{
  font-size:2vw;
  float: left;
  margin: auto;
  padding: 30%;
}
/* #equippedWeaponImg{
  position: relative;
  left:1%;
  padding-left: 5%;
} */
#reloadBtn{
  position: relative;
  bottom:10px;
  left:2%;
}

#shortBorder
{
  border-bottom: 2px solid #C71A1A;
  width:80%;
  float: left;
  margin-left: 10%;
  margin-right: 10%;
  height: 4px;
}

#shortVertical
{
  border-right: 2px solid #C71A1A;
  width:80%;
  float: left;
  margin-left: 10%;
  margin-right: 10%;
  height: 4px;
}

#playerHealthStats{
  /* border: 1px solid grey; */
  padding:3%;
  width: 100%;
  font-size: 1.3vw;
  margin: auto;
  padding-bottom: 2%;
  text-align: center;
  display: inline-block;
  color: #C71A1A;
  /* border-bottom:  #4edaf9 3px solid; */
}

#playerHealth{
  border: black 3px solid;
  border-radius: 25px;
  height:23px;
  background-color: #841111;
}

#healthBar{
  height:100%;
  width:100%;
  /* background-color:#27910E; */
  background: repeating-linear-gradient(
    45deg,
    #27910E,
    #27910E 10px,
    #144F05 10px,
    #144F05 20px
    );
    border-radius: 25px;
}

.inventoryItem{
  width: 90%;
  height: 90%;
  display: inline-block;
  //opacity: 0.2;
  margin: 5%;
}





.profileButtons
{
  width: 90%;
  height: 50px;
  border-radius: 25px;
  font-size: 1.1vw;
  border: 2px solid black;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  outline: none;
  color: #27910E;
      background: repeating-linear-gradient(
        180deg,
        #082316,
        #082316 10px,
        #05170E 10px,
        #05170E 20px
        );
}

#playerConsumables{
  overflow:auto;
  width:30%;
  float:left;

  margin: auto;
  margin-top: 2%
  /* background: repeating-linear-gradient(
    130deg,
    #041114,
    #041114 10px,
    #09252B 10px,
    #09252B 20px
    ); */
}

#playerConsumables p{
  position: relative;
  padding:5%;
  right:32.5%;
  font-size: 1.2vw;
}

#playerHealthKitStat{
  height:33%;
  width: 100%;
  border-top: 2px solid #C71A1A;
  padding-top: 3%;
  color: #C71A1A;
}

#playerHealthPackStat{
  height:33%;
  /* border: 1px solid #4edaf9; */
  border-top: 2px solid #C71A1A;
  padding-bottom: 3%;
  padding-top: 3%;
  color: #C71A1A;
}

#playerEnergyCellsStat{
  height:33%;
  color: #C71A1A;
  padding-bottom: 3%;
  /* border: 1px solid #4edaf9; */
  /* border-top: 1px solid #4edaf9; */

}

#playerStats{
  clear: both;
  margin:auto;
  overflow:auto;
  height:450px;
  display: block;
}


#equipMenu{
  width: 17%;
  float:right;
  margin: 10px;
  margin-right: 0px;
}

#textbox{
  clear: both;
  height: 500px;
  margin: auto;
  background-color: ;
}
#other1{
  clear: both;
  //height: 300px;
  //background-color: white;
  /* border: 1px solid white; */
  overflow: auto;
}


#hoverImg{
  float:left;
  width: 70px;
  height: 70px;
  margin: 10px;
  border: 1px solid white;
  padding: 3px;
  opacity: 0.2;
}


#hoverInfo{
  float:left; margin-left: 5%;
  margin-top: 7%;
  width: 80%;
  font-size: 1.0vw;
}

#hoverDescriptionContainer
{
  width: 70%;
  float: left;
  margin: 0 auto;
}


#playerInventory td:hover{
  border: 1px solid gold;
}

#inventory{
  clear: both;
  /* height: 300px; */
  margin: 0 auto;
  /* background-color: white; */
  border-radius: 25px;
}

#inventoryHeader{
  /* padding-left: 5%; */
  background-color: #7E7D7D;
  /* border: 2px solid black; */
  border-radius: 25px;
  text-align: center;
  margin: 0 auto;
  /* background: repeating-linear-gradient(
    45deg,
    #1B1A1A,
    #1B1A1A 10px,
    #0F0F0F 10px,
    #0F0F0F 20px
    ); */
    background: transparent;
    color: #C71A1A;
    width: 100%;
}

#inventoryTitle{
  width: 30%;
  float: left;
  font-size: 2vw;
  text-align: center;
  margin-top: 6%;
}

#inventoryHover{
  width: 90%;
  float: left;
  margin: auto;
}

#textbox input{

}

#text-display{
    background-color: #111010;
    width: 100%;
    height: 90%;
    overflow: auto;
    font-size: 1.4vw;
    font-family: 'Rajdhani', sans-serif;
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 0px;
    background: repeating-linear-gradient(
      45deg,
      #1B1A1A,
      #1B1A1A 10px,
      #0F0F0F 10px,
      #0F0F0F 20px
      );
}


#settings-wrapper{
  width: 100%;
  height: 60px;
  border: 1px solid white;
  font-size: 1.4vw;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  font-family: 'Rajdhani', sans-serif;
  box-shadow: 0px 0px 10px 2px #ffffff;
  background: repeating-linear-gradient(
    180deg,
    #1B1A1A,
    #1B1A1A 10px,
    #0F0F0F 10px,
    #0F0F0F 20px
    );
}
#volumeControl{
  margin-top:1.6%;
  float:left;
  position: relative;
  bottom:6px;
  width:7%;
}
#volumeText{
  position: relative;
  bottom:6px;
  width:7%;
  padding-left: 1%;
  float:left;
  font-family: 'Rajdhani', sans-serif;
}
.settingButtons{
  max-width: 5%;
  font-size: 1.1vw;
  border: 2px solid black;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  outline: none;
  color: #ffffff;
      background: repeating-linear-gradient(
          180deg,
          #1B1A1A,
          #1B1A1A 10px,
          #0F0F0F 10px,
          #0F0F0F 20px
        );
}


#userTextWrong{
  color: red;
}
#userTextCaution{
  color: #A935FF;
}
#userTextGadget{
  color: lightblue;
}
#userTextWeapon{
  color: yellow;
}
#userTextInteractable{
  color: orange;
}
#userTextPuzzle{
  color: purple;
}
#userTextHealth{
  color: salmon;
}
#userTextDatapad{
  color:#2E53BF;
}
#userAvailableDirection{
  color: #1B8ED4;
}
#userTextRight
{
  color: #2DA711;
}
#userTextGame{
  color:#44c966;
}
#userTextObjective{
  color:#4edaf9;
}


#gameInputButton{
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 3.0em;
  color: #27910E;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
}

#gameInputButton:hover{
  cursor:pointer;
}

#continueButton
{
  width: 10%;
  text-align: center;
  height: 50px;
  border-radius: 25px;
  font-size: 1.1vw;
  border: 2px solid black;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  outline: none;
  color: #27910E;
      background: repeating-linear-gradient(
        180deg,
        #082316,
        #082316 10px,
        #05170E 10px,
        #05170E 20px
        );
}

.input
{
  font-size: 1.2vw;
  background: repeating-linear-gradient(
    180deg,
    #082316,
    #082316 10px,
    #05170E 10px,
    #05170E 20px
    );
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    height: 10%;
    color: #27910E;
    font-family: 'Orbitron', sans-serif;
    padding: 2%;
    outline:none;
    border: 2px solid black;
    /* box-shadow: 0 0 10px 2px black; */
    width:80%;
    margin-left: 1%;
}
::placeholder{
  color: #434443;
}

.textAnimStart{
  animation: fadeIn ease 5s both;
-webkit-animation: fadeIn ease 5s both;
-moz-animation: fadeIn ease 5s both;
-o-animation: fadeIn ease 5s both;
-ms-animation: fadeIn ease 5s both;
}

.textAnimStart2{
  animation: fadeIn ease 5s both;
  -webkit-animation: fadeIn ease 5s both;
  -moz-animation: fadeIn ease 5s both;
  -o-animation: fadeIn ease 5s both;
  -ms-animation: fadeIn ease 5s both;

  animation-delay: 4s;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  -ms-animation-delay: 4s;
}

.textAnimStart3{
  animation: fadeIn ease 5s both;
  -webkit-animation: fadeIn ease 5s both;
  -moz-animation: fadeIn ease 5s both;
  -o-animation: fadeIn ease 5s both;
  -ms-animation: fadeIn ease 5s both;

  animation-delay: 8s;
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  -ms-animation-delay: 8s;
}

.compassButtons:hover {
  box-shadow: 0px 0px 3px 2px #4edaf9;

}

.utilityButtons:hover {
  box-shadow: 0px 0px 3px 2px #4edaf9;

}
.profileButtons:hover{
  box-shadow: 0px 0px 3px 2px #27910E;
}

.mapButtons:hover {
  box-shadow: 0px 0px 3px 2px #8B2BE4;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
