#wrapper
{
  width: 95%;
  height: 80%;
  padding: 2%;
  margin: auto;
}

#container
{
  overflow: auto;
  width: 100%;
}

#playerInventory{
  width: 30%;
  float: left;
  margin: 10px;
  margin-right: 3%;
  margin-left: 0px;
}

#userInput{
  width: 30%;
  float: left;
  margin: 10px;
  text-align: center;
  background-color: #111010;
  border-radius: 25px;
}

#equipMenu{
  width: 17%;
  float:right;
  margin: 10px;
  margin-right: 0px;
}

#textbox{
  clear: both;
  height: 620px;
  margin: auto;
  background-color: ;
}


#map{
  clear: both;
  height: 300px;
  margin-bottom: 30px;
  //background-color: white;
    border: 1px solid white;
}

#other1{
  clear: both;
  height: 300px;
  //background-color: white;
  border: 1px solid white;
}

#inventory{
  clear: both;
  height:620px;
  border: 1px solid white;

  text-align: center;
}

#textbox input{
  width: 80%;
  height: 10%;
  //background-color: #111010;
  color: white;
  font-size: 24px;
  background-color: grey;//placeholder
  border-radius: 25px;
}

#text-display{
    background-color: #111010;
    width: 100%;
    height: 90%;
    overflow: auto;
    text-align: center;
    font-size: 24px;
    font-style: monospace;
}

.text{
  font-family:monospace;
}

#settings-wrapper{
  width: 100%;
  height: 50px;
  border: 1px solid white;
}

#settings-wrapper button{
  margin: 5px;
  height: 40px;
  width: 60px;
}
#userTextWrong{
  color: red;
}
#userTextBlue{
  color: lightblue;
}

#gameInputButton{
  color:white;
  border: 1px solid white;
  text-transform: uppercase;
  background-color: transparent;
}

#gameInputButton:hover{
  color: black;
  background-color: white;
  cursor:grab;
}

#userTextRight
{
  color: #27910E;
}
.input{
  font-size: 0.5em;
  background: repeating-linear-gradient(
    180deg,
    #082316,
    #082316 10px,
    #05170E 10px,
    #05170E 20px
    );
    border-radius: 10px;
    border: 0px solid;
    color: #27910E;
    font-family: 'Orbitron', sans-serif;
    padding: 5px;
    outline:none;
}
