#wrapper
{
  width: 95%;
  height: 80%;
  padding: 2%;
  padding-top: 2px;
  margin: auto;
}

#container
{
  overflow: auto;
  width: 100%;
  padding: 2%;
}

#playerInventory{
  width: 30%;
  float: left;
  margin: 10px;
  margin-right: 3%;
  margin-left: 0px;
}

#playerInventory td{
  width: 200px;
  height: 100px;
  border: 1px solid white;
  background-color: #262626;
}


#userInput
{
    width: 33%;
    float: left;
    max-width: 80%;
    height: 80%;
    padding: 8px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 0 10px 2px #4edaf9;
    background-color: #111010;
}


#equipMenu{
  width: 17%;
  float:right;
  margin: 10px;
  margin-right: 0px;
}

#textbox{
  clear: both;
  height: 620px;
  margin: auto;
  background-color: ;
}


#map{
  clear: both;
  height:620px;
  border: 1px solid white;

  text-align: center;
}

#other1{
  clear: both;
  height: 300px;
  //background-color: white;
  border: 1px solid white;
}

#inventory{
  clear: both;
  //height: 300px;
  margin-bottom: 30px;
  //background-color: white;
    border: 1px solid white;
}

#inventoryHeader{
  padding-left: 10%;
  padding: 5px;
  background-color: #7E7D7D;
  border: 2px solid black;
  text-align: center;
}


#textbox input{

}

#text-display{
    background-color: #111010;
    width: 100%;
    height: 90%;
    overflow: auto;
    font-size: 1.75em;
    font-family: 'Rajdhani', sans-serif;
}


#settings-wrapper{
  width: 100%;
  height: 50px;
  border: 1px solid white;
}

#settings-wrapper button{
  margin: 5px;
  height: 40px;
  width: 60px;
}
#userTextWrong{
  color: red;
}
#userTextBlue{
  color: lightblue;
}
#userTextYellow{
  color: yellow;
}
#userTextOrange{
  color: orange;
}


#gameInputButton{
  color:white;
  border: 1px solid white;
  text-transform: uppercase;
  background-color: transparent;
}

#gameInputButton:hover{
  color: black;
  background-color: white;
  cursor:grab;
}

#userTextRight
{
  color: #27910E;
}
.input
{
  font-size: 1.5em;
  background: repeating-linear-gradient(
    180deg,
    #082316,
    #082316 10px,
    #05170E 10px,
    #05170E 20px
    );
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    height: 10%;
    color: #27910E;
    font-family: 'Orbitron', sans-serif;
    padding: 2%;
    outline:none;
    border: none;
    box-shadow: 0 0 10px 2px black;
    width:80%;
}
::placeholder{
  color: #424242;
}
