/*class for making content blink*/
.blinking{
  color: #4edaf9;
    animation:blinkingText 1.5s;
    animation-iteration-count: 1;
}

/*class for making content not blink*/
.notBlinking{
    color: #ff0000;
}

@keyframes blinkingText{
    0%{     color: #4edaf9;    }
    49%{    color: #4edaf9; }
    60%{    color: transparent; }
    99%{    color: transparent;  }
    100%{   color: #4edaf9;    }
}
